<div class="card">
  <div class="card-header bg-primary text-white"><strong>Add shift</strong></div>
  <div class="card-body">
    <div class="form-row align-items-end">
      <div class="col-5">
        <%= form_for(@shift, url: shifts_path, :html => {:class => 'form_inline'}) do |f| %>
          <%= f.label :worker %>
          <%= f.collection_select :worker_id, Worker.all, :id, :first_name, {}, {class: 'form-control'} %>
        </div>
        <div class="col-7">
          <%= f.label :start_date %>
          <%= f.date_field :start_date, class: 'form-control' %>
        </div>
      </div>
      <div class="form-row align-items-end">
        <div class="col-12 mt-3">
          <%= f.submit "Créer", class: "btn btn-light btn-lg btn-block" %>
          <%= render '/shared/flash_messages' %>
        </div>
      </div>
    </div>
  <% end %>
</div>